---
title: Directions to My Office
---

<!-- Created on 6/31/2021 by Madison Graziani-->

<h1 class = "directions_title">
  Directions to My Office
</h1>

<% exit = "Exit at Lane Avenue"
   skip = "Skip to Next Step" %>

<p>
  Finding your way to The Ohio State University is easy. It is in the center of Columbus, slightly north of downtown.<br>
  My office is located at: <b>491 Dreese Labs, 2015 Neil Avenue, Ohio State University, Columbus, Ohio, 43210</b>.
</p>

<hr class="break">

<br>

<div class="directions_div">
  <h3>
    From the north:
  </h3>

  <ol>
    <li>Take any major highway to I-270</li>
    <li>Take I-270 to SR 315 south</li>
    <li> <%=exit %> </li>
    <li> <%=skip %> </li>
  </ol>

  <h3>
    From the south:
  </h3>

  <ol>
    <li>Take any major high to I-71 north</li>
    <li>Take I-71 north to SR 315 north</li>
    <li> <%=exit %> </li>
    <li> <%=skip %> </li>
  </ol>

  <h3>
    From the west:
  </h3>

  <ol>
    <li>Take any major high to I-70 east</li>
    <li>Take I-70 east to SR 315 north</li>
    <li> <%=exit %> </li>
    <li> <%=skip %> </li>
  </ol>

  <h3>
    From the east:
  </h3>

  <ol>
    <li>Take any major high to I-70 west</li>
    <li>Take I-70 west to SR 315 north</li>
    <li> <%=exit %> </li>
    <li> <%=skip %> </li>
  </ol>

  <h3>
    From Port Columbus International Airport:
  </h3>

  <ol>
    <li>Take I-670 west to I-71 south</li>
    <li>Take I-71 south to I-70 west</li>
    <li>Take I-70 west to SR 315 north</li>
    <li> <%=exit %> </li>
    <li> <%=skip %> </li>
  </ol>

  <h3>
    Next Step:
  </h3>

  <ol>
    <li>Take Lane Avenue (going east into OSU) over the bridge until you reach Tuttle Park Place road</li>
    <li>Take a right onto Tuttle Park Place road and continue down (shortly) through the big 4-way intersection (intersecting with Woody Hayes Dr.)</li>
    <li>Shortly after the intersection you will see a large parking garage on your left (with an immediate entrance into the garage from the road) named "Tuttle Garage" (2050 Tuttle Park P1)</li>
    <li>You will see the OSU Stadium directly on your right</li>
    <li>Enter this garage and take the ticket to park your car (Note that there is a charge to park anywhere on campus)</li>
  </ol>

  <h3>
    Information for the Office:
  </h3>

  <ul>
    <li>I am located in office 491 Dreese Labs, directly adjacent (behind) to the parking garage</li>
    <li>It is the tallest red brick building in the immediate area</li>
    <li>It also has a characteristic white "spool" on the very top of the building</li>
    <li>Dreese Labs (building 279) and the parking garage (building 088) are shown on this helpful <a href="http://www.osu.edu/map/building.php?building=279">map</a></li>
  </ul>
</div>